* {
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

.Uno {
    background-color: brown;
    padding: 70px;
    border: 30px solid green;
    margin: 150px;
    box-sizing: border-box;
}

.Dos {
    background-color: blue;
}