 * {
    margin: 0;
    padding: 0;

 }

 p {
    padding: 10px;
 }

 .section-one {
    width: 100%;
    background-color: blue;
    /* padding: 20px 0px; */

 }

 .section-two {
    width: 100%;
    background-color: aquamarine;

 }

 .section-three {
    width: 100%;
    background-color: aquamarine;
 }

 .section-four {
    width: 100%;
    background-color: aquamarine;
 }

 .section-five {
    width: 100%;
    background-color: aquamarine;
 }

 .section-six {
    width: 100%;
    background-color: aquamarine;
 }

 /* .container {
    margin: auto;
    width: 500px;
    border: 10px;
    border-color: black;
 } */

 .container-1 {
    margin: auto;
    width: 500px;
    /* padding: 500px; */
    /* margin: 100px 0px 100px 700px; */
    background-color: rgb(152, 203, 250);
    border: 2px;
    border-color: black;
    border-radius: 10px;
 }

 .container-2 {
    margin: auto;
    border: 0;
    width: 500px;
    padding: 50px;
    background-color: rgb(152, 203, 250);
    border: 2px;
    border-color: black;
    border-radius: 10px;

 }

 .container-3 {
    margin: auto;
    border: 0;
    width: 500px;
    padding: 50px;
    background-color: blue;
    border: 2px;
    border-radius: 10px;


 }

 .container-4 {
    margin: auto;
    width: 500px;
    padding: 50px;
    background-color: blue;
    border: 2px;
    border-radius: 10px;

 }

 .container-5 {
    margin: auto;
    width: 500px;
    padding: 50px;
    background-color: blue;
    border: 2px;
    border-radius: 10px;

 }

 .container-6 {
    margin: auto;
    width: 500px;
    padding: 50px;
    background-color: blue;
    border: 2px;
    border-radius: 10px;

 }

 /*cuando he puesto sólo "container" a la clase, 
no aplica las características. 
He tenido que nombrarlos uno a uno . Si cambio el 
nombre de la clase y eliminandole el guión el guion, me hace algo de caso */